# Compiled classes and JARs
target/
*.jar

# Maven wrapper (если не используешь — можно удалить)
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# IDE files
.idea/
*.iml
*.iws
*.ipr

# OS garbage
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# reports
reports/